# ====================================================================
# 除外ファイル設定
# ====================================================================
# 検証結果フォルダ
/Result.Data/
# 一時保存フォルダ
obj/
# 構築保存フォルダ
bin/
